<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p><a href="/home">Let's go back to the homepage</a></br>
    <a href="/projects">Check out my projects again!</a></p></br>
    <h1>To get in touch with me, you can call me at 098771625341</h1>
    <p>Or email me at mhn1211@gmail.com</p>
</body>
</html>