<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p><a href="/projects">My Projects</a></br>
    <a href="/contact">Get in touch with me!</a></p></br>
    <h1>I am adding my personal information here:</h1>
    <p><ul>About Me:
        <li>I like food</li>
        <li>I love to eat that food</li>
    </ul></p>
    <p>This is me</p>
    <img src="/photos/Marilyn_monroe.jpg">
</body>
</html>