<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Document</title>
</head>
<body>
    <p><a href="/home">Lets go to the main page</a></br>
    <a href="/contact">Get in touch with me!</a></p></br>
    <h1>Ever since i joined Coding Dojo I've worked on 2 different stacks</h1>
    <p>They are:
        <ul>
            <li>Python, Flask, Django, I can build facebook now</li><img src="/photos/facebook_new.jpg">
            <li>And now, C# with ASP.net</li>
        </ul>
    </p>
</body>
</html>