@model theWall.Models.RegisterUser
@{
    ViewData["Title"] = "Login";
}

<h2>Register</h2>
    <form asp-controller="Users" asp-action="Register" method="post">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-controller"><br>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-controller"><br>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-controller"><br>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-controller"><br>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-controller"><br>

        <button class="btn btn-success">Register</button>
    </form>


    @if(ViewBag.ErrorMessages!= null)
    {
        @foreach (string error in ViewBag.ErrorMessages)
        {
            <p>@error</p>
        }
    }
