<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <a href="/quotes">Dashboard</a>
    <a href="/logout">Logout</a>
    <h3>Posts by {{ user.first_name }}</h3>
    <p>Count:{{user.favorites.all | length}}</p>
    {% for favorite in favorites %}
    <span style="color: red">
    <p><span style="color: black; font-weight: bold;"> {{favorite.author}} </span>: {{favorite.content}}</p>
    </span>
    {% endfor %}
</body>
</html>