<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
    <h1>Please enter your username and password for here</h1>
    <form action="/process" method="POST">
        <input type='text' name='first_name'><label for="username">First Name</label><br>
        <input type='text' name='last_name'><label for="username">Last Name</label><br>
        <input type='text' name='username'><label>Username</label><br>
        <input type='password' name='psw'><label>Password</label><br>
        <input type='password' name='psw'><label>Password Confirmation</label><br> 
        <input type='submit'>
    </form>    
</body>
</html>