<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="process" method="post">
        First Name:<input type="text" name="fname"/>
        Last Name<input type="text" name="lname" />
        Age<input type="number" name="age" />
        Email <input type="email" name="email" />
        Password <input type="password" name="password" />
        <button type="submit">Submit</button>
    </form>
    <div>
            @if(ViewBag.errors != null)
            {
                //If there are any errors for a field...
                @foreach(var err in @ViewBag.errors)
                {
                    <p>@err</p>
                }
            }
    </div>
</body>
</html>

