<h1>Add a Quote</h1>
<form #formData = "ngForm" (submit)= "submit(formData)">

  <span class = "text-danger" *ngIf="quote.touched && !quote.valid">Quote is required</span> 
  <input type="text" 
  name="quote"
  required
  minlength="4"
  [(ngModel)]="newQuote.quote"
  #quote = "ngModel">

  <span class = "text-danger" *ngIf="author.touched && !author.valid">Author name is required</span>
  Author: <input type="text" 
  name="author"
  required
  minlength="3"
  [(ngModel)]="newQuote.author"
  #author = "ngModel">
  <button type="submit" [disabled]="!formData.valid" >Submit</button>
</form>