<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/books/add">
        {% csrf_token %}
        <h1>Book Info</h1>
        Book Title: <input type="text" name="title">
        <p>Author:</p> 
        Add a new author: <input type="text" name="author_name">
        <p>Review:</p> <textarea name="review" cols="30" rows="10"></textarea>
        <p>Rating</p>
        <select>
            <option value="1" name="rating">1</option>
            <option value="2" name="rating">2</option>
            <option value="3" name="rating">3</option>
            <option value="4" name="rating">4</option>
            <option value="5" name="rating">5</option>
            <option value="6" name="rating">6</option>
            <option value="7" name="rating">7</option>
            <option value="8" name="rating">8</option>
            <option value="9" name="rating">9</option>
            <option value="10" name="rating">10</option>
        </select>
        <a href="/books/show">Add Book and Review</a>
    </form>

</body>
</html>