<!-- @{
    ViewData["Title"] = "Home Page";
} -->
@model BankAccounts.Models.RegisterViewModel
@{
    if(TempData["Error"] != null)
    {
        <p>@TempData["Error"]</p>
    }
}

<h1>Register<a href="/login">Already Registered</a></h1>
<form asp-controller="Users" asp-action="RegisterUser" method="post">
    <span asp-validation-for="FirstName"></span>
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName">

    <span asp-validation-for="LastName"></span>
    <label asp-for="LastName"></label>
    <input asp-for="LastName">

    <span asp-validation-for="email"></span>
    <label asp-for="email"></label>
    <input asp-for="email" class="u-full-width">

    <span asp-validation-for="password"></span>
    <label asp-for="password"></label>
    <input asp-for="password" class="u-full-width">

    <span asp-validation-for="confirm_password"></span>
    <label asp-for="confirm_password"></label>
    <input asp-for="confirm_password" class="u-full-width">

    <input type="submit" value="Register" class="button-primary">
</form>