<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="post">
    Your Name: <input type="text" name="name">
    <select name="location">
        Dojo Location 
        <option value="LA">LA</option>
        <option value="LA">Kingston</option>
        <option value="LA">UAE</option>
    </select>
    <select name="language">
        Language
        <option value="C#">C#</option>
        <option value="python#">python</option>
        <option value="MEAN">MEAN</option>
    </select>
    Comment: <textarea name="comment"></textarea>
    <input type="submit" value="submit">
    </form>
</body>
</html>