<!DOCTYPE html>
<html>
<head>
   <title>Nothing to display</title>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='CSS/normalze.css') }}">
   <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='CSS/skeleton.css') }}">   
</head>
<body>
    <h1>No ninjas here</h1>
    <a href="/ninja">Click here to check us out!</a>
    <ul>
        <li><a href="/ninja/blue">Blue</a></li>
        <li><a href="/ninja/red">Red</a></li>
        <li><a href="/ninja/purple">Purple</a></li>
        <li><a href="/ninja/orange">Orange</a></li>
        <li><a href="/ninja/black">Black</a></li>
    </ul>   
</body>
</html>