<html>
        <head>
           <title>What's the name</title>
           <meta charset="utf-8">
           <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='dojo_survey.css') }}">
        </head>
        <body>
            <div id="container_form">
                {% with messages = get_flashed_messages()%}
                    {% if messages %}
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action='/process' method='post'>
                    Name: 
                    <input type="text" name="name">
                    <br></br>
                    Dojo Location:
                    <select name="location">
                    <option value="chicago">Chicago</option>
                    <option value="LA">LA</option>
                    <option value="DC">DC</option>
                    <option value="NYC">NYC</option>
                    </select>
                    <br></br>
                    Favorite Language:
                    <select name="language">
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                    <option value="Ruby">Ruby</option>
                    <option value="Java">Jave</option>
                    </select>
                    <br></br>
                    {% with messages = get_flashed_messages()%}
                        {% if messages %}
                            {% for message in messages %}
                            <p>{{comment}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    Comment (optional):<br></br>
                    <textarea rows="4" cols="50" name="comment">
                    </textarea>
                    <br></br>
                    <input type='submit' value='submit'>
                </form>
            </div>
          
        </body>
    </html>